*{
    background-image: url('b.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 4px solid rgb(255, 255,255,.2);
    background: transparent;
    backdrop-filter: blur(10px);
    float: left;
    width: 280px;
    border-radius: 10px;
    outline: none;
    color: #000;
    margin-top: 10px;
    margin-left: 10px;
}
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.container{
  width: 330px;
  height: 550px;
  border: 4px solid rgb(255, 255,255,.2);
  background: transparent;
  backdrop-filter: blur(5px);
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 4px;
  height: 600px;
  overflow-y: scroll;
}
.container::-webkit-scrollbar{
  display: none;
}
#music{
  align-items: center;
  cursor: pointer;
  
}
#music img{
  width: 60px;
  height: 60px;
  margin-left: 7px;
  object-fit: cover;
  margin-top: 10px;
}
#music audio{
  width: 200px;
  height: 35px;
  margin-left: 50px;
  margin-top: -1000px;
}
#music h4{
  margin-left: 150px;
}
h4{
  margin-left: 30px;
  color: royalblue;
  font-size: 20px;  
}
h4:hover{
  color: blanchedalmond;
}
#music{
  display: flex;
}
#music .A{
  width: 60px;
  height: 60px;
  background: transparent;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;

}
#music p{
  margin-top: 25px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
  color: black;
}
#music #play{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  
}
#music #pause {
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #pause img{
  width: 40px;
  height: 40px;
}
#music #play img{
  width: 40px;
  height: 40px;
}
#music #text{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #pass{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #text img{
  width: 40px;
  height: 40px;
  margin-left: 58px;
}
#music #pass img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
#music .B{
  width: 75px;
  height: 60px;
  background: transparent;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;

}
#music .C{
  border-radius: 10px;
  margin-left: 13px;

}
#music #aa{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #bb{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #aa img{
  width: 40px;
  height: 40px;
  margin-left: 58px;
}
#music #bb img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
#music .D{
  border-radius: 10px;
  margin-left: 13px;

}
#music #cc{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #dd{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #cc img{
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
#music #dd img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
#music .E{
  border-radius: 10px;
  margin-left: 13px;

}
#music #ee{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #ff{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #ee img{
  width: 40px;
  height: 40px;
  margin-left: 45px;
}
#music #ff img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
#music .F{
  border-radius: 10px;
  margin-left: 13px;

}
#music #gg{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #hh{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #gg img{
  width: 40px;
  height: 40px;
  margin-left: 53px;
}
#music #hh img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
#music .G{
  border-radius: 10px;
  margin-left: 13px;

}
#music #ii{
  border: none;
  width: 100px;
  background: transparent;
  cursor: pointer;
  margin-left: -5px;
  color: aliceblue;
}
#music #jj{
  border: none;
  width: 100px;
  background: transparent;
  margin-left: -13px;
  cursor: pointer;
  color: aliceblue;
}
#music #ii img{
  width: 40px;
  height: 40px;
  margin-left: 30px;
}
#music #jj img{
  width: 40px;
  height: 40px;
  margin-left: 30px;
}
